.gradient-arah {
    background-image: linear-gradient(to right, #ec4899, #8b5cf6);
}

.bg {
    background-color: #f1ece5;
}

.bg1 {
    background-color: #eae4da;
}

.bg2 {
    background-color: #e8e3d9;
}

.bg3 {
    /* background-color: linear-gradient(to right, #ffee02, #c37c01); */
    background-color: #c37c01;

}