@mixin btn-general {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@mixin input {
    border-style: solid;
    border-width: 0.1px;
    border-color: #535353;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 13.9px;
    color: #535353
}

.item-btn-danger {
    @include btn-general;
    color: white;
};

.item-btn-warning {
    @include btn-general;
    color: white;
}
.item-btn-success {
    @include btn-general;
    color: #535353;
}
.item-btn-primary {
    @include btn-general;
    color: #474747;
}

.input-field{
    height: 36px;
    @include input
}

.input-select{
    height: 36px;
    @include input
}
.input-select-sm{
    height: 22px;
    @include input
}
.input-file-area{
    height: 36px;
    @include input
}
.input-file-area .input-file{
    color: transparent; 
    width: 100%; 
    height: 100%;
    z-index: 2;
}

.input-file-area .input-file-icon{
    height: 30px;
    width: 50px;
    margin: -10px;
    position: absolute;
    top : 12.5px;
    left: 12px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-file-area .input-file-label{
    top: 7px;
    left : 59px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #535353;
}

.input-textarea {
    @include input;
    min-height: 100px;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-button{
    padding: 5px 30px 5px 30px;
}

.btn-dropdown{
    display: flex;
    align-items: center;
    border: 1px;
    border-radius: 50px;
    background-color: white;
    width: 150px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: #535353;
    box-shadow: #474747 0.5px 0.5px 0.2px;
}
.btn-dropdown:hover{
    background-color: #a7a7a7;
    box-shadow: #474747;
    color: white;
}