.impact-text{
    // font-size: 32px;
    font-weight: bold;
}


.title-text {
    font-size: 12px;
    font-weight: bold;
}

.title-header-1 {
    font-size: 50px;
}

.title-header-2 {
    font-size: 50px;
}

.title-header-3 {
    font-size: 20px;
    font-weight: bold;
}
.title-header-4 {
    font-size: 18px;
    font-weight: bold;
}

.text-item-header {
    color: #434343;
    font-weight: 600;
    font-size: 15px;
}

.text-item-body {
    color: #434343;
    font-weight: 600;
    font-size: 15px;
}

.text-item-regular {
    font-size: 15px;
}
.text-admin-menu {
    font-size: 13px;
    /* font-weight: 550; */
    color: #585656
}