.btn-normal {
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to right, #ffee02, #c37c01);
    text-shadow: #000000;
}

.btn-normal:hover {
    background-image: none;
    background-color: transparent !important;
    outline: 2px solid #ffee02;
    outline-offset: -2;
}

.color-main {
    color: #c9a100;
}

.list-button {
    color: #1a1a1a;
    border-style: solid;
    border-width: 2px;
    border-color: #434343;
    border-radius: 15px;
    padding: 5 15;
    font-size: 12px;
    font-weight: bold;
}

.list-button:hover {
    background-color: #da9b30;
    border-color: #da9b30;
    color: white;
    font-weight: bold;
}

.div-menu {
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom-width: 0.5px;
    border-style: dashed;
    border-color: #dcdcdc;
    padding: 5px 2px 5px 2px;
}


.icon-admin-menu {
    font-size: 20px;
}

.form-input {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0.1px;
    border-color: #9c9c9c;
    border-radius: 6px;
    width: 100%;
}

.input-form {
    /* border-style: solid;
    border-width: 1px;
    border-color: #585656; */
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    background-color: white;
    width: 100%;
}

.btn-form {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 40px;
    width: 45px;
    background-color: #c37c01;
    color: white;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #d7a144;
}

.cheklist-product {
    display: flex;
    flex-direction: row;
    gap: 3px;
    border-style: dotted;
    border-width: 0.5px;
    border-color: #434343;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}